.hide-in-pc{
    display: none;
}

.hide-in-mobile{
    display: block;
}

.hide-in-pc-flex{
    display: none;
}

.hide-in-mobile-flex{
    display: flex;
}

@media only screen and (max-width: 800px) {
    .hide-in-pc{
        display: block;
    }
    
    .hide-in-mobile{
        display: none;
    }

    .hide-in-pc-flex{
        display: flex;
    }
    
    .hide-in-mobile-flex{
        display: none;
    }
}