body{
    font-family: 'Quicksand', sans-serif;
}

button:active, button:focus{
    outline: none;
}

a:active, a:focus{
    outline: none;
}

*{
    -webkit-tap-highlight-color: transparent;
}

i {
    font-family: 'Material Icons';
    font-feature-settings: 'liga';
    font-weight: normal;
    font-style: normal;
    font-size:inherit;
    line-height:inherit;
    vertical-align: top;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

.btn-primary{
    border: 2px solid #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    background: #3848d4;
    border: 2px solid #3848d4;
    padding: 12px 24px;
    border-radius: 1000px;
    font-weight: 900;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    transition-duration: 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    cursor: pointer;
}

.btn-primary:hover{
    color: #3848d4;
    background: transparent;
    box-shadow: none;
}

.top-nav-bar{
    position: absolute;
    top: 5px;
    left: 0px;
    width: 100%;
    z-index: 100;
    height: 80px;
    transition-duration: 3s;
}

.top-nav-bar.uk-active{
    backdrop-filter: blur(5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.top-nav-bar .grid{
    height: 80px;
    padding-right: 17px;
}

.top-nav-bar .logo-text{
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    margin-left: 25px;
}

.top-nav-bar-link{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 0.019em;
    padding: 20px 5px;
}

.top-nav-bar-link.active{
    padding: 20px 16px;
}

.top-nav-bar-link::before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #ffffff;
    height: 2.5px;
    opacity: 0.5;
}

.top-nav-bar-link.active::before{
    right: 0;
    opacity: 1;
}

.top-nav-bar-link:hover{
    color: #ffffff;
    text-decoration: none;
}

.top-nav-bar-link:hover::before{
    animation: topNameAnim 0.7s  ease-in-out;
}

.top-nav-bar-ham-btn{
    font-size: 14px;
    background: transparent;
    color: #fff;
    border: none;
    position: relative;
    width: 60px;
    height: 60px;
    top: 5px;
    padding: 0px;
    border-radius: 100000px;
}

.top-nav-bar-ham-btn i{
    font-size: 35px;
}

.top-nav-bar-menu{
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: 0 14px 25px rgba(0, 0, 0, 0.52);
}

@keyframes topNameAnim {
    0%   {
        left: 0%;
        right: 100%;
    }
    50% {
        left: 0%;
        right: 0%;
    }
    100%{
        right: 0%;
        left: 100%;
    }
}

.header-section{
    overflow: hidden;
    height: 557px;
    background-image: linear-gradient(to right bottom, #2b32b2, #313bc0, #3645cf, #3b4edd, #4058ec);
}

.header-section-grid{
    background: url('../images/header-background.svg');
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
    height: 557px;
    padding-top: 30px;
}

.header-section-grid .header-section-grid-column:first-child {
    margin-left: 100px;
}

.header-content-section{
    
}

.header-logo{
    position: absolute;
    width: 73px;
    top: 6px;
    left: 17px;
    z-index: 500;
}

.screenshot-img{
    width: 237px;
}

.header-title{
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.header-title-tail{
    opacity: 0.7;
}

.header-subtitle{
    width: 460px;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 30px;
    opacity: 0.7;
    font-size: 15px;
}

.download-btn{
    border: 2px solid #ffffff;
    color: #3848d4;
    text-transform: uppercase;
    background: #fff;
    padding: 12px 24px;
    border-radius: 1000px;
    font-weight: 900;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition-duration: 0.3s;
    cursor: pointer;
}

.download-btn:hover{
    color: #ffffff;
    background: transparent;
    box-shadow: none;
}

.download-btn::before{
    content: "";
    background: url('../images/playstore.svg');
    width: 15px;
    display: inline-block;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 7px;
    margin-top: -10px;
    position: relative;
    top: 2px;
}

.version-text{
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    transition-duration: 0.3s;
    border-bottom: 3px solid transparent;
}

.version-text:hover{
    color: #fff;
    text-decoration: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.flow-top-left{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 350px;
}

.subpage-header{
    background-image: linear-gradient(to right bottom, #2b32b2, #313bc0, #3645cf, #3b4edd, #4058ec);
}

.subpage-header-inner{
    background: url('../images/header-background.svg');
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 25px;
}

.subpage-content{
    padding-top: 40px;
    padding-bottom: 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: -90px;
    background: #fff;
    font-family: 'Quicksand', sans-serif;
}

.subpage-title{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    color: #404040;
    font-weight: 700;
    font-size: 1.8rem;
}

.subpage-sidenote{
    font-family: 'Quicksand', sans-serif;
    margin-top: 20px;
    margin-bottom: 25px;
    border-left: 3px solid #d6d6d6;
    padding-left: 12px;
    font-size: 1.2rem;
    font-weight: 200;
}

.subpage-subtitle{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    font-size: 1.4rem;
    font-weight: 700;
    color: #444;
}

.subpage-para{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: #555;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}

.subpage-list{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: #555;
}

.subpage-content a{
    color: #555;
}

.subpage-nextpage{
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: right;
    display: block;
    position: relative;
    top: 30px;
    transition-duration: 0.3s;
}

.subpage-nextpage:hover{
    color: #4058ec;
    text-decoration: none;
}

.subpage-nextpage:hover i{
    left: 5px;
}

.subpage-nextpage i{
    position: relative;
    top: -2px;
    left: 0px;
    transition-duration: 0.3s;
}

.subpage-text-link{
    font-size: 19px;
    font-weight: 700;
    transition-duration: 0.3s;
    opacity: 0.8;
    display: block;
    width: max-content;
    border-bottom: 3px solid transparent;
    margin-bottom: 5px;
}

.subpage-text-link:hover{
    text-decoration: none;
    border-bottom: 3px solid #4058ec;
}

.footer{
    background: #1E212A;
    padding: 50px 10px;
}

.footer-links{
    list-style: none;
}

.footer-links-title{
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.071em;
}

.footer-links a{
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    margin-bottom: 3px;
    display: inline-block;
    font-weight: 600;
    opacity: 0.6;
    transition-duration: 0.2s;
    font-size: 14px;
}

.footer-links a:hover{
    opacity: 0.8;
    text-decoration: none;
}

.footer-logo{
    width: 90px;
    opacity: 0.5;
}

.copyright-container{
    padding: 20px 10px;
    background: #1E212A;
}

.copyright-text{
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #ffffff47;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.copyright-text span{
    color: #ffffffd4;
    margin-right: 5px;
}

.copyright-logo{
    width: 100px;
}

@media only screen and (max-width: 800px) {
    .header-content-section{
        padding: 20px;
    }

    .header-subtitle{
        width: 100%;
    }

    .header-content-section{
        position: relative;
        top: -59px;
    }

    .screenshot-img-mobile{
        margin-top: -200px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .subpage-content{
        padding-top: 30px;
        padding-bottom: 80px;
    }

    .subpage-header-inner{
        background-size: cover;
        background-position: top right;
    }

    .subpage-title{
        font-size: 1.7rem;
    }

    .footer-logo{
        position: relative;
        top: 5px;
        left: 23px;
    }
}